@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    border:0;
    overflow: hidden;
    display: flexbox;
    font-family: 'Poppins', sans-serif;
    background: #1daf;
}
.container{
    background-image: linear-gradient(to left,orange,skyblue);
    width: 20%;
    height: 520px;
    text-align: center;
    border: 5px solid;
    border-color: grey;
    border-radius: 15px;
    margin: auto;
    width: 30%;
    padding: 15px;
}

#searchbox{   
    font-weight: 600;
    width: 70%;
    height: 35px;
    border-radius: 25px;
    border-color: black;
    text-align: center;
    position: relative;
    left:10px;
    background-color: antiquewhite;
    opacity: 0.8;
}

#search{
    width:7%;
    padding: 2px 20px;
    position: relative;
    top: 12px;
    cursor: pointer;
}
#search:hover + #searchbox{
    display: block;
}

.mid-container{
    padding: 30px;
}
.temp-logo{
    width:50%;
    height: 140px;
}
.city{
    font-size: 2.4rem;
    color:black;
}
.temp{
    font-size: 5rem;
    color:black;
}
.humid-logo{
    height: 30px;
    position: relative;
    right:150px;
    margin-top: 20px;
}

.wind-logo{
    height: 40px;
    position: relative;
    left:60px;
    bottom:90px;
}

.humid{
    position: relative;
    right:80px;
    bottom:45px;
}

.wind{
    position: relative;
    left:140px;
    bottom:140px;
}
.foot{
    padding: 20px;
    position: relative; 
    bottom: 20px;
}
.text1{
    position: relative;
    right:80px;
    bottom:45px;
}
.text2{
    position: relative;
    left:140px;
    bottom:140px;
}

@media(max-width : 700px){
    .container{
        width: 100%;
        border-radius: 10px;
    }
    .wind{
        position: relative;
        left:140px;
    }
    .humid{
        position: relative;
        right:100px;
    }
    .text1{
        position: relative;
        right:90px;
    }
    .text2{
        position: relative;
        left:140px;
    }
    #search{
        width:5%;
        padding: 2px 40px;
        position: relative;
        top: 15px;
        cursor: pointer;
    }
    #searchbox{   
        font-weight: 600;
        width: 40%;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        position: relative;
        left:30px;
        background-color: antiquewhite;
        opacity: 0.8;
    }
    
}